/* App.css */
.sidebar {
  transition: transform 0.3s ease;
}

.sidebar-visible {
  transform: translateX(0);
}

/* .sidebar:not(.sidebar-visible) {
  transform: translateX(-100%);
} */

/* Media queries for responsive design */
@media (max-width: 768px) {
  .menu-toggle-button {
    display: block;
  }
}

:where(.css-dev-only-do-not-override-1uq9j6g).ant-drawer .ant-drawer-body {
  padding: 0;
}